body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 100px;
  margin: 0;
}

.error-container {
  display: inline-block;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 72px;
  color: #dc3545;
  margin-bottom: 20px;
}

p {
  font-size: 24px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: #64676a;
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
}

.theme-toggle-button {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #64676a;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5a5d60;
}

body.dark {
  background-color: #1e1e1e;
  color: #f2f2f2;
}

body.dark .error-container {
  background-color: #2c2c2c;
  box-shadow: none;
  color: #f2f2f2;
}

body.dark h1 {
  color: #e57373;
}

body.dark a {
  color: #aaaaaa;
}

body.dark button {
    background-color: #444;
    color: #f2f2f2;
    border: 1px solid #666;
}