<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
  <link rel="stylesheet" href="/static/reg.css">
</head>
<body>
  <div class="container">
    <h1>Регистрация</h1>
    {% if error %}
      <p class="error">{{ error }}</p>
    {% endif %}
    {% if message %}
      <p class="message" style="color: green;">{{ message }}</p>
    {% endif %}

    <form method="post" action="/register" enctype="multipart/form-data">
      <label for="username">Имя пользователя:</label>
      <input type="text" name="username" id="username" required>

      <label for="password">Пароль:</label>
      <input type="password" name="password" id="password" required>
      <label class="checkbox-label">
        <input type="checkbox" onclick="togglePassword()"> Показать пароль
      </label>
      
      <label for="role">Роль:</label>
      <select name="role" id="role" required>
          <option value="user">User</option>
          <option value="admin">Admin</option>
      </select>
      
      <label for="avatar">Аватар (необязательно):</label>
      <input type="file" name="avatar" id="avatar" accept="image/png, image/jpeg, image/gif">

      <button type="submit">Зарегистрировать</button>
    </form>

    <button onclick="toggleTheme()">Сменить тему</button>
  </div>

  <script>
    function togglePassword() {
      const passwordInput = document.getElementById('password');
      passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password';
    }

    function toggleTheme() {
      document.body.classList.toggle('dark');
      
      const isDark = document.body.classList.contains('dark');
      localStorage.setItem('theme', isDark ? 'dark' : 'light');
    }

    document.addEventListener('DOMContentLoaded', () => {
      const savedTheme = localStorage.getItem('theme');
      if (savedTheme === 'dark') {
        document.body.classList.add('dark');
      }
    });
  </script>
</body>
</html>